@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* COLORS */

:root {
  --background-color:#9CB3AB;
  --light-color: #efefef;
  --dark-color: #040a0c;
  --highlight-color: #d3dcb9;
}

/* Main Style */

html {
  color: var(--light-color);
  font-family: "Poppins";
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--light-color);
  cursor: pointer;
}

a:hover, a:active {
  text-decoration: underline var(--highlight-color);
}

.btn {
  text-decoration: none !important;
  margin: 2px;
}

/* NAVBAR */

#navbar-block {
  height: 58px;
  position: fixed;
  left: 0px;
  top: -60px;
  width: 100vw;
  background-color: var(--dark-color);
  transition: top 0.3s;
  z-index: 5;
  border-bottom: 2px solid var(--highlight-color)
}

/* FONTS */

h1 {
  font-size: 6rem;
  font-family: "Bebas Neue", sans-serif;
}

h2 {
  font-family: "Poppins";
  font-size: 1.4rem;
}

h3 {
  font-size: 3rem;
  color: var(--highlight-color);
  font-family: "Playfair", serif;
}

p {
  font-size: 1rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

/* CONTAINERS */

#landing-wrapper {
  position: relative;
  text-align: center;
  color: var(--light-color);
}

.mountains_png {
  width: 100%;
  /* HEIGHT IS FOR SAFARI GLITCH */
  height: 20%;
  margin-top: 40vh;
  margin-bottom: -20px;
  z-index: 2;
}

.table-container {
  text-align: left;
}

table {
  position: relative;
  margin: auto;
}

.imgseb {
  width: 100%;
  max-width: 400px;
  border-radius: 1000px;
  padding: 10px;
}

.img1 {
  width: 20vw;
  border-radius: 1000px;
  transition: 0.2s;
}

hr {
  border-color: var(--highlight-color);
}

.link-imgs {
  transition: 0.4s;
  width: 90%;
  margin: 2%;
  max-width: 200px;
  filter: invert(100%);
}

.link-imgs:hover {
  filter: invert(0%);
  cursor: pointer;
}

.imgseb2 {
  border-radius: 250px;
  max-width: 400px;
  width: 40vw;
  transition: 0.2s;
}

.mountain-lines {
  position: absolute;
  width: 100%;
  opacity: 0.3;
  left: 0px;
  bottom: -30px;
  z-index: 2;
}


.middle-container-audio {
  background-color: #e6d9d3;
  color: #221b2f;
  padding: 0px 15% 0px 15%;
  text-align: justify;
}

/* IMG PAGE */

.img-clouds {
  width: 70%;
}

.collage {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.7s;
}

.collage:hover {
  height: 500px;
  cursor: pointer;
}

.collage2 {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.7s;
}

.collage2:hover {
  cursor: pointer;
}

.collage3 {
  width: 50%;
}

/* IMG Display */

.img-display {
  height: 800px;
}

.contact-container {
  text-align: center;
}

.contact {
  background-color: #221b2f;
  color: #e6d9d3;
  padding: 30px;
}

input {
  border-radius: 25px; 
  background-color: #221b2f;
  border-color: #e6d9d3;
  border-style: solid;
}

input[type=submit] {
  border-radius: 25px;
}

.next-img {
  max-width: 100%;
  transition: 0.2s;
}

/* IMG DIGITAL */

.img-digital-body {
  background-color: #221A2F;
  overflow: hidden;
}

.img-digital-display {
  display: block;
  margin: auto;
  height: 80vh;
  transition: 0.5s;
}

.img-digital-display-container {
  width: 100vw;
  text-align: center;
}

.img-digital-display:hover {
  transform: scale(2.3);
  object-fit: cover;
}

.landing-title-container {
  position: relative;
  top: 20vh;
}

.pink-mountain-display {
  width: 70vw;
  transition: 0.3s;
}

.contact-image {
  width: 20%;
  max-width: 300px;
  transition: 0.3s;
}

.contact-image:hover {
  transform: scale(1.1) rotate(-2deg);
}

/* SECTIONS */

.section-dark {
  background-color: var(--dark-color);
  padding: 5% 10%;
  color: var(--light-color);
  position: relative;
  z-index: 1;
}

.section-dark a {
  color: var(--highlight-color);
}

.section-light {
  background-color: var(--light-color);
  padding: 5% 10%;
  position: relative;
  z-index: 1;
  transition: 1s;
}

/* WEB BACKGROUND COLOR CLASSES */

.section-light-js-imre {
  background-color: #121212 !important;
  color: var(--light-color);
}
.section-light-js-imre h2 {
  color: #D9AE37;
}

.section-light-js-learn {
  background-color: #ECE2D0;
}
.section-light-js-next {
  background: #221B2F;
  color: var(--light-color);
}
.section-light-js-evalynn {
  background: #2E3233;
  color: var(--light-color);
}

.btn-js {
  color: var(--light-color) !important;
}

.section-light h3 {
  color: var(--dark-color)
}

.section-light a {
  color: var(--dark-color);
  text-decoration: underline var(--highlight-color);
}

.section-light a:hover, a:active {
  color: var(--highlight-color);
  text-decoration: underline var(--highlight-color);
}

.image-section-header {
  width: 60%;
  position: relative;
}

.section-web img {
  padding: 4%;
}

.work-header {
  min-height: 220px;
  position: relative;
  z-index: -2;
}

/* LANDING PAGE */

.landing-page {
  color: var(--light-color);
  width: 100vw;
  height: 100vh;
}

.landing-page-text-container {
  position: relative;
  z-index: -1;
  margin-top: 150px;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.landing-page-img {
  position: relative;
  width: 100vw;
  top: 60vh;
}

.navbar-brand {
  font-family: "Bebas Neue", "Poppins", Arial, Helvetica, sans-serif;
}

.navbar-brand:hover, .navbar-brand:active {
  color: var(--highlight-color) !important;
}

nav .navbar-nav li a:hover{
  color: var(--highlight-color) !important;
  }

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem !important;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  .landing-wrapper h1, .work-header h1 {
    font-size: 4rem;
  }

  .collage:hover {
    height: 300px;
  }

  .moon-img {
    top: 70%;
  }

  .mountain-lines {
    bottom: -20px;
    height: 300px;
  }
}

/* HIDE AND SHOW MOBILE */
@media only screen and (max-width: 992px){
  .hide-mobile {
    display: none;
  }

  .show-mobile {
    display: inline-block !important;
  }

  h1 {
    font-size: 4rem;
  }
}

.show-mobile {
  display: none;
}

.moon-img {
  position: absolute;
  bottom: 40%;
  left: 10%;
  width: 10vw;
  max-width: 60px;
}

.btn {
  color: var(--highlight-color)
}

.why-seb p {
  color: rgb(75, 75, 75);
}

.headline {
  position: absolute;
  top: 104px;
  left: auto;
  right: auto;
  margin-left: -110px;
}

.cursor{
  display: block;
  position: absolute;
  height: 70%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: var(--light-color);
  z-index: 1;
  animation: flash 3s none infinite alternate;
}
@keyframes flash{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.text-js{
  opacity: 0;
}

.liquid1 {
  position: absolute;
  width: 100px;
  top: 80%;
  left: 10%;
  z-index: 2;
}